.masonry-grid {
	display: flex;
	margin-left: -15px; /* Ajusta el espaciado horizontal */
	width: auto;
}

.masonry-grid-column {
	padding-left: 15px; /* Espaciado entre columnas */
	background-clip: padding-box;
}

.masonry-grid-item {
	margin-bottom: 15px; /* Espaciado vertical entre tarjetas */
}
